<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suma</title>
</head>
<body>
    <h1>Suma</h1>
    <form method="POST">
        <input type="number" name="num1" placeholder="Número 1">
        <input type="number" name="num2" placeholder="Número 2">
        <button type="submit">Sumar</button>

        {% if resultado is not none %}
            <h2>Resultado: {{resultado}}</h2>
        {% endif %}

    </form>
    
</body>
</html>